/* Styles généraux */
body {
    background-color: #f8f8f8; /* Couleur de fond du corps */
    transition: background-color 0.5s; /* Animation de transition pour une expérience en douceur */
    margin : 0;
    padding: 0;
}

header {
    background-color: #00539f;
    color: white;
    text-align: center;
    padding: 2em 0;
    position: relative;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.english-flag, .french-flag {
    width: 40px;
    height: auto;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    border: 4px solid #fff;
    transition: transform 0.5s ease-in-out;
}

.avatar:hover {
    transform: rotateY(180deg); /* Rotation de 180 degrés autour de l'axe Y lors du survol */
    transition: transform 0.5s ease-in-out; /* Ajoutez une transition pour une animation fluide */
}

.avatar:not(:hover) {
    transform: rotateY(0);
}

h1 {
    margin: 0;
    color: #fff;
}

section {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
}

h2 {
    color: #00539f;
}

.projects .project {
    margin-bottom: 40px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.project img {
    max-width: 100%;
    height: auto;
    transform: rotate(-90deg);
    margin: 20px auto;
    max-height: 300px;
}

.project-info {
    padding: 20px;
}

.project-info h3 {
    color: #00539f; /* Couleur bleue pour le titre du projet */
    margin-bottom: 10px;
}

.project-info p {
    color: #555;
}

.contact p {
    margin-bottom: 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #00539f; /* Couleur de fond du menu, même que la navbar */
    padding: 10px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 12px;
}

.menu li:hover {
    background-color: white;
}

.menu li a:hover {
    color: #00539f;
}

.menu a {
    text-decoration: none;
    color: white; /* Couleur du texte du menu */
    font-weight: bold;
}

.menu-burger {
    display: none;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

/* Ajout de styles pour le mode sombre */
.dark-mode body {
    background-color: #222;
    color: white;
}

.dark-mode section {
    background-color: #333;
    color: white;
    border-radius: 0;
    margin : 0;
}

.dark-mode header {
    background-color: #222;
}

.dark-mode .project-info h3 {
    color: white;
}

.dark-mode .project-info p {
    color: white;
}

.dark-mode h2 {
    color: white;
}

.dark-mode .menu-burger {
    background-color: #222;
}

.dark-mode .menu {
    background-color: #222;
}

.dark-mode footer {
    background-color: #222;
}

.dark-mode input {
    background-color: #222;
    color: white;
}

.dark-mode textarea {
    background-color: #222;
    color: white;
}

/* Ajoutez ceci à votre fichier CSS pour styliser le bouton de changement de thème */
.theme-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
}

.dark-mode-on {
    color: #f39c12; /* Couleur jaune pour le mode sombre */
}

.fa-sun-o {
    color: orange;
    font-size: 20px;
}

.fa-sun-o:hover {
    color: rgb(255, 111, 0);
    font-size: 20px;
}

.fa-moon-o {
    color: rgb(51, 50, 50);
    font-size: 20px;
}
.fa-moon-o:hover {
    color: rgb(9, 9, 9);
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 20px auto;
}

label {
    margin-bottom: 8px;
}

input, textarea {
    padding: 11px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

.button-form {
    background-color: #00539f;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    text-align: center;
    transition: background-color 0.3s;
    margin: auto; /* Ajout de la marge auto pour centrer le bouton */

}

.button-form:hover {
    background-color: #004080;
}


/* Media Queries pour la réactivité */
@media screen and (max-width: 768px) {
    header {
        padding: 1em 0;
    }

    .avatar {
        width: 60px;
        height: 60px;
        margin-right: 8px;
    }

    h1 {
        font-size: 1.5em;
    }

    section {
        padding: 15px;
    }

    .projects .project {
        margin-bottom: 30px;
    }

    .project-info {
        padding: 15px;
    }

    footer {
        padding: 8px 0;
    }

    .project-image {
        transform: rotate(-90deg);
    }

    .menu {
        display: none;
        top: 44px;
    }

    .menu-active {
        display : flex;
    }

    .menu-burger {
        display: block;
        position: fixed;
        top: 8px;
        right: 0px;
        z-index: 999;
        background-color: #00539f;
        padding: 2%;
    }

    .menu-burger:hover {
        opacity: 0.8;
    }
    .test {
        background-color: red;
    }
}